<!DOCTYPE html>
<html>
<head>
  <title>RailsWebpackReactReduxBoilerplate</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='app'></div>
  <%= yield %>

  <script>
    window.__INITIAL_STATE__ = <%= @initial_state %>;
  </script>
  <%= webpack_bundle_tag 'app' %>
</body>
</html>
